@font-face {
  font-family: VWHead-Bold;
  src: local('VWHead-Bold'), url("./fonts/VWHead-Bold.woff") format('woff');
}

@font-face {
  font-family: VWHead-Light;
  src: local('VWHead-Light'), url("./fonts/VWHead-Light.woff") format('woff');
}

@font-face {
  font-family: VWText;
  src: local('VWText'), url("./fonts/VWText.woff") format('woff');
}

@font-face {
  font-family: VWText-Bold;
  src: local('VWText-Bold'), url("./fonts/VWText-Bold.woff") format('woff');
}

$vwH-bold : VWHead-Bold, Arial, sans-serif;
$vwH-light : VWHead-Light, Arial, sans-serif;
$vw : VWText, Arial, sans-serif;
$vw-bold : VWText-Bold, Arial, sans-serif;

$light-grey : #f2f1f0;
$white: #fff;
$dark-blue: #0c2340;
$grey: #b6b6b6;

@mixin center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*scroll delete*/
body::-webkit-scrollbar { width: 0; }

body { -ms-overflow-style: none; }

body { overflow: -moz-scrollbars-none; }

body,html{
  font-size: 10px;
  font-family: $vw;
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $vw;
  font-size: 2.5rem;
}

a{
  text-decoration: none;
  outline: none;
}

.Nav{
}

.Main{

  .data{

    .row{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .car,.active-car{

        @include center;
        background: rgba($light-grey,.5);
        width: 20%;
        padding: 1rem;
        cursor: pointer;
        border-radius: 5px 5px 0 0;
        transition: .5s all;
        img{
          //max-width: 200px;
          width: 50%;
        }
        &:hover{
          background: $white;
          transition: .5s all;
        }
      }

      .active-car{
        background: $white;
      }


    }

    .table-models {
      //@include center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .title{
        margin: 15px auto;
      }

      .model{
        width: 50%;
        padding: 40px 20px;
        overflow: hidden;
        box-shadow: 0 10px 10px rgba($light-grey,0.5);
        position: relative;
        animation: .6s show-model linear;
        .img-wrapper{
          width: 100%;
          height: 20vw;
          @include center;
        }
        &:hover img{
          opacity: .6;
          width: 100%;
          transition: .5s all;
        }

        &:hover .btn-wrapper{
          opacity: 1;
          transition: .5s all;
        }

        .model-header {
          display: block;
          text-align: center;
          font-family: $vw;
          font-size: 3rem;
          user-select: none;
          font-style: italic;
          margin-bottom: 20px;
        }

        .btn-wrapper{
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          transition: .5s opacity;

          .btn{
            padding: .5em 1.5em .5em 1.5em;
            font-size: 2rem;
            background: $dark-blue;
            color: $white;
            cursor: pointer;
          }
        }

        img{
          width: 90%;
          transition: .5s all;
        }

      }
      .preloader{
        margin: 300px auto 0;
      }
    }

  }

}

.preloader{
  @include center;
  .loader{
    border:8px solid $dark-blue;
    border-top-color: $white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    opacity: .9;
    animation: .7s spin infinite linear;
  }
}

@keyframes show-model {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
