@font-face {
  font-family: VWHead-Bold;
  src: local('VWHead-Bold'), url("./fonts/VWHead-Bold.woff") format('woff');
}

@font-face {
  font-family: VWHead-Light;
  src: local('VWHead-Light'), url("./fonts/VWHead-Light.woff") format('woff');
}

@font-face {
  font-family: VWText;
  src: local('VWText'), url("./fonts/VWText.woff") format('woff');
}

@font-face {
  font-family: VWText-Bold;
  src: local('VWText-Bold'), url("./fonts/VWText-Bold.woff") format('woff');
}

$vwH-bold : VWHead-Bold, Arial, sans-serif;
$vwH-light : VWHead-Light, Arial, sans-serif;
$vw : VWText, Arial, sans-serif;
$vw-bold : VWText-Bold, Arial, sans-serif;

$light-grey : #f2f1f0;
$white: #fff;
$dark-blue: #0c2340;
$grey: #b6b6b6;

@mixin center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*scroll delete*/
body::-webkit-scrollbar { width: 0; }

body { -ms-overflow-style: none; }

body { overflow: -moz-scrollbars-none; }

body,html{
  font-size: 10px;
  font-family: $vw;
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $vw;
  font-size: 2.5rem;
}

ul,li{
  list-style: none;
}

a{
  text-decoration: none;
  outline: none;
}

.Nav{
}

.Main {

  .data {

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .car, .active-car {

        @include center;
        background: rgba($light-grey, .5);
        width: 20%;
        padding: 1rem;
        cursor: pointer;
        border-radius: 5px 5px 0 0;
        transition: .5s all;

        img {
          //max-width: 200px;
          width: 50%;
        }

        &:hover {
          background: $white;
          transition: .5s all;
        }
      }

      .active-car {
        background: $white;
      }


    }

    .table-models {
      @include center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .title {
        margin: 15px auto;
      }

      .model {
        width: 50%;
        padding: 40px 20px;
        overflow: hidden;
        box-shadow: 0 10px 10px rgba($light-grey, 0.5);
        position: relative;
        animation: .6s show-model linear;

        .img-wrapper {
          width: 45vw;
          height: 20vw;
          @include center;
        }

        &:hover img {
          opacity: .6;
          width: 100%;
          transition: .5s all;
        }

        &:hover .btn-wrapper {
          opacity: 1;
          transition: .5s all;
        }

        .model-header {
          display: block;
          text-align: center;
          font-family: $vw;
          font-size: 3rem;
          user-select: none;
          font-style: italic;
          margin-bottom: 20px;
        }

        .btn-wrapper {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: .5s opacity;

          .btn {
            padding: .5em 1.5em .5em 1.5em;
            font-size: 2rem;
            background: $dark-blue;
            color: $white;
            cursor: pointer;
          }
        }

        img {
          width: 90%;
          transition: .5s all;
        }

      }

      .preloader {
        margin: 300px auto 0;
      }
    }

  }

  .preview {
    width: 100%;
    //height: 43vw;
    height: 50vh;
    video {
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
  }

  .constructor {
    .main {
      width: 90vw;
      margin: 0 auto;
    }

    .options {
      width: 100%;
      background: $light-grey;
      display: flex;

      .option {
        cursor: pointer;
        padding: .5em;
        user-select: none;

        &:first-child {
          padding-left: 0;
        }
      }

      .active {
        font-weight: bold;
        background: white;
      }
    }

    .icons-panel {
      display: flex;
      cursor: pointer;
      user-select: none;

      .icon {
        margin: .5em;
        position: relative;

        img {
          border: 1px solid #ddd;
          width: 48px;
        }

        &:before {
          content: "";
          position: absolute;
          top: -5px;
          left: -5px;
          width: 52px;
          height: 52px;
          border: 3px solid $dark-blue;
        }
      }
      .active {
        position: relative;
        //&:before{
        //  position: absolute;
        //  content: "\2714";
        //  text-align: right;
        //  color: white;
        //  font-size: 12px;
        //  z-index: 1;
        //}
        &:after {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 34px 34px 0;
          border-color: transparent #0b2749 transparent transparent;
          position: absolute;
          filter: drop-shadow(-2px 2px 0 #fff);
          color: $dark-blue;
          top: -4px;
          right: -4px;
        }
      }
    }
  }
}

  .preloader {
    @include center;

    .loader {
      border: 8px solid $dark-blue;
      border-top-color: $white;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      opacity: .9;
      animation: .7s spin infinite linear;
    }
  }

  .preloader-V2 {
    height: 100%;
    width: 100%;
    animation: .5s gra infinite alternate;
  }

  .slider {
    width: 100%;
    height: 50vw;
    //margin: 2em auto 0;
    position: relative;
    overflow: hidden;

    &:hover .prev {
      opacity: 1;
      transition: .5s opacity;
    }

    &:hover .next {
      opacity: 1;
      transition: .5s opacity;
    }

    .prev, .next {
      font-size: 5em;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      cursor: pointer;
      z-index: 1000000;
      opacity: 0;
      transition: .5s opacity;
      user-select: none;
    }

    .prev {
      left: 0;
    }

    .next {
      right: 0;
    }

    .disable {
      color: grey;
    }

    .active {
      color: white;
    }

    .slide {
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: .5s all;
    }

    .activeNextSlide{
      animation: .5s show-model linear;
    }
  }

  //@keyframes gra {
  //  0% {
  //    background: linear-gradient(90deg, $grey 0%, rgba(255,255,255,1) 0%, $grey 100%);
  //  }
  //  10%{
  //    background: linear-gradient(90deg, $grey 0%, rgba(255,255,255,1) 10%, $grey 100%);
  //  }
  //  20%{
  //    background: linear-gradient(90deg, $grey 0%, rgba(255,255,255,1) 20%, $grey 100%);
  //  }
  //  30%{
  //    background: linear-gradient(90deg, $grey 0%, rgba(255,255,255,1) 30%, $grey 100%);
  //  }
  //  40%{
  //    background: linear-gradient(90deg, $grey 0%, rgba(255,255,255,1) 40%, $grey 100%);
  //  }
  //  50% {
  //    background: linear-gradient(90deg, $grey 0%, rgba(255,255,255,1) 50%, $grey 100%);
  //  }
  //  60%{
  //    background: linear-gradient(90deg, $grey 0%, rgba(255,255,255,1) 60%, $grey 100%);
  //  }
  //  70%{
  //    background: linear-gradient(90deg, $grey 0%, rgba(255,255,255,1) 70%, $grey 100%);
  //  }
  //  80%{
  //    background: linear-gradient(90deg, $grey 0%, rgba(255,255,255,1) 80%, $grey 100%);
  //  }
  //  90%{
  //    background: linear-gradient(90deg, $grey 0%, rgba(255,255,255,1) 90%, $grey 100%);
  //  }
  //  100% {
  //    background: linear-gradient(90deg, $grey 0%, rgba(255,255,255,1) 100%, $grey 100%);
  //  }
  //}

  @keyframes gra {
    0% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 0%, $light-grey 100%);
    }
    10% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 10%, $light-grey 100%);
    }
    20% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 20%, $light-grey 100%);
    }
    30% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 30%, $light-grey 100%);
    }
    40% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 40%, $light-grey 100%);
    }
    50% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 50%, $light-grey 100%);
    }
    60% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 60%, $light-grey 100%);
    }
    70% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 70%, $light-grey 100%);
    }
    80% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 80%, $light-grey 100%);
    }
    90% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 90%, $light-grey 100%);
    }
    100% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 100%, $light-grey 100%);
    }
  }

  @keyframes show-model {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }











