@font-face {
  font-family: VWHead-Bold;
  src: local('VWHead-Bold'), url("./fonts/VWHead-Bold.woff") format('woff');
}

@font-face {
  font-family: VWHead-Light;
  src: local('VWHead-Light'), url("./fonts/VWHead-Light.woff") format('woff');
}

@font-face {
  font-family: VWText;
  src: local('VWText'), url("./fonts/VWText.woff") format('woff');
}

@font-face {
  font-family: VWText-Bold;
  src: local('VWText-Bold'), url("./fonts/VWText-Bold.woff") format('woff');
}



$vwH-bold : VWHead-Bold, Arial, sans-serif;
$vwH-light : VWHead-Light, Arial, sans-serif;
$vw : VWText, Arial, sans-serif;
$vw-bold : VWText-Bold, Arial, sans-serif;
//$nfs : NFS;


$light-grey : #f2f1f0;
$white: #fff;
$dark-blue: #0c2340;
$grey: #b6b6b6;
$red: #950014;

@mixin centerX {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin centerX-Y {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*scroll delete*/
body::-webkit-scrollbar { width: 0; }

body { -ms-overflow-style: none; }

body { overflow: -moz-scrollbars-none; }

body,html{
  font-size: 10px;
  font-family: $vw;
  //font-family: $nfs;
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $vw;
  //font-family: $nfs;
  font-size: 2.5rem;
}
ul,li{
  list-style: none;
}

a{
  color: #000000;
  text-decoration: none;
  outline: none;
}

.Nav{
}

.Main {

  .data {

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .car, .active-car {

        @include centerX;
        background: rgba($light-grey, .5);
        width: 20%;
        padding: 1rem;
        cursor: pointer;
        border-radius: 5px 5px 0 0;
        transition: .5s all;

        img {
          //max-width: 200px;
          width: 50%;
        }

        &:hover {
          background: $white;
          transition: .5s all;
        }
      }

      .active-car {
        background: $white;
      }


    }

    .table-models-view-1{
      box-shadow: 5px 10px 10px -10px rgba(0,0,0,0.5) inset;
      overflow: hidden;

      .models-wrapper{
        display: flex;
        transition: .5s all;
        .model{
          cursor: inherit;
        }

        .img-wrapper{
          @include centerX;
          width: 70vw;
          .car{
            width: 80%;
          }

          @media (max-width: 576px) {

          }
        }

        .model.active{
          opacity: 1;
          .info{
            transform: translateY(0%);
            transition: .5s transform;
          }
        }

        .model.inactive{
          opacity: .5;

          .info {
            transition: .25s transform;
            transform: translateY(-1000%);
          }

          .specifications{
            opacity: 0;
          }

          .btns-wrapper{
            opacity: 0;
          }

          .btn-header{
            display: none;
          }

        }

        .model-header{
          display: block;
        }

        .btns-wrapper{
          opacity: 1;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .btn-spec, .btn-config{
            display: block;
            cursor: pointer;
            border:1px solid $dark-blue;
            padding: .5em;
            width: 40%;
            position: relative;
            text-align: center;
            transition: .25s background;
            &:before{
              content: "\203A";
              position: absolute;
              font-size: 1.5em;
              left: 10px;
              top: 45%;
              transform: translateY(-50%);
            }
            &:hover{
              background: $dark-blue;
              color: $white;
              transition: .25s background;
            }
          }
        }
      }

      .specifications{
        top: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background: $white;
        overflow-x: hidden;
        z-index: 10000000;
        .complictations-wrapper{
          h2{
            width: 90vw;
            margin: 1em auto 0;
          }
        }
        .complictation{
          width: 90vw;
          margin:0 auto;
          overflow: hidden;
          justify-content: space-between;
          .info-wrapper{
            .info{
              margin-top: 1em;
              display: block;
              border-bottom: 1px solid $grey;
              .header{
                width: 50%;
                font-size: 2.5rem;
                margin-bottom: .5em;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                .header-btn{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 30px;
                  height: 30px;
                  transform: rotate(90deg);
                  font-size: 1.2em;
                  transition: .25s transform;
                }
              }
              .active{
                .header-btn{
                  color:$red;
                  transition: .25s transform;
                  transform: rotate(270deg);
                }
              }
              .model-spec{
                display: none;
              }
              .active~.model-spec{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-bottom: 10px;
              }

            }
          }
        }

        .header{
          position: relative;
        }

        .spec-header{
          padding-top: 1.5em;
          padding-bottom: 1.5em;
          padding-left: 1em;
          background: $light-grey;
          .txt{
            font-size: 4rem;
            font-weight: bold;
          }
        }

        .btn-close{
          width: 55px;
          height: 55px;
          background: $red;
          box-shadow: 5px 5px 5px -2.5px rgba(0,0,0,.2);
          cursor: pointer;
          position: absolute;
          right: 15px;
          top: 15px;
          z-index: 10000000;
          &:before{
            content: "\2716";
            position: absolute;
            font-size: 1em;
            color: $white;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }


      }

      .specifications.active{
        transform: translateY(0%);
        transition: .5s all;
        opacity: 1;

      }

      .specifications.false{
        .info{
          transform: translateY(0%);
          transition: .25s transform;
        }
      }

      .specifications.inactive{
        transform: translateY(100%);
        transition: .5s all;
        opacity: 0;
      }

      .specifications.true{
        .info {
          transition: .4s transform;
          transform: translateY(-1000%);
        }
      }

      .prev-btn,.next-btn{
        background: $dark-blue;
        position: absolute;
        width: 45px;
        height: 45px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
        color: white;
        user-select: none;
        cursor: pointer;

        .arrow{
          width: 100%;
          position: absolute;
          top:45%;
          font-size: 1.5em;
          display: block;
          transform: translateY(-50%);
          text-align: center;
        }

      }

      .prev-btn{
        left: 10px;
        opacity: .3;
      }

      .next-btn{
        right: 10px;
      }

      .disable{
        opacity:0.3;
      }

      .active{
        opacity: 1;
      }
    }

    .table-models-view-2 {
      @include centerX;
      .models-wrapper{
        height: 100%;
        display: grid;
        flex-wrap: wrap;
        justify-content: flex-start;
        grid-template-columns: repeat(3, 1fr);
      }

      .title {
        margin: 15px auto;
      }

      .prev-btn,.next-btn{
        display: none;
      }

      .model {
        padding-top: 1em;
        overflow: hidden;
        position: relative;
        animation: .6s show-model linear;

        .img-wrapper {
          @include centerX;
        }

        &:hover .car {
          cursor: pointer;
          transform: scale(1.1);
          transition: .5s all;
        }

        &:hover .btn-wrapper {
          opacity: 1;
          transition: .5s all;
        }

        .model-header {
          display: block;
          padding-left: 15px;
          font-family: $vw;
          font-size: 3rem;
          user-select: none;
          font-style: italic;
        }

        .btn-wrapper {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: .5s opacity;

          .btn {
            padding: .5em 1.5em .5em 1.5em;
            font-size: 2rem;
            background: $dark-blue;
            color: $white;
            cursor: pointer;
          }
        }

        .car {
          width: 90%;
          transition: .5s all;
        }

      }
    }

    .preloader {
      position: absolute;
      left: 50%;
      top:50%;
      transform: translate(-50%,-50%);
      //margin: 300px auto 0;
    }

    .btn-view{
      width: 30px;
      cursor: pointer;
      transition: .2s all;
      &:hover{
        transition: .2s all;
        transform: scale(1.2);
      }
    }

  }

  .preview {
    width: 100%;
    //height: 43vw;
    //height: 50vh;
    height: 50vw;
    video {
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
  }

  .constructor {
    .main {
      width: 90vw;
      margin: 0 auto;
    }

    .options {
      width: 100%;
      background: $light-grey;
      display: flex;

      .option {
        cursor: pointer;
        padding: .5em;
        user-select: none;

        &:first-child {
          padding-left: 0;
        }
      }

      .active {
        font-weight: bold;
        background: white;
      }
    }

    .icons-panel {
      display: flex;
      cursor: pointer;
      user-select: none;

      .icon {
        margin: .5em;
        position: relative;

        img {
          border: 1px solid #ddd;
          width: 48px;
        }

        &:before {
          content: "";
          position: absolute;
          top: -5px;
          left: -5px;
          width: 52px;
          height: 52px;
          border: 3px solid $dark-blue;
        }
      }
      .active {
        position: relative;
        //&:before{
        //  position: absolute;
        //  content: "\2714";
        //  text-align: right;
        //  color: white;
        //  font-size: 12px;
        //  z-index: 1;
        //}
        &:after {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 34px 34px 0;
          border-color: transparent #0b2749 transparent transparent;
          position: absolute;
          filter: drop-shadow(-2px 2px 0 #fff);
          color: $dark-blue;
          top: -4px;
          right: -4px;
        }
      }
    }
  }

  .view-btn{
    cursor: pointer;
    width: 35px;
    height: 35px;
  }

  .greeting{
    margin-top: 15px;
    @include centerX
  }
}

  .preloader {
    @include centerX;

    .loader {
      border: 8px solid $dark-blue;
      border-top-color: $white;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      opacity: .9;
      animation: .7s spin infinite linear;
    }
  }

  .preloader-V2 {
    height: 100%;
    width: 100%;
    animation: .5s gra infinite alternate;
  }

  .slider {
    width: 100%;
    height: 50vw;
    position: relative;
    overflow: hidden;

    &:hover .prev {
      opacity: 1;
      transition: .5s opacity;
    }

    &:hover .next {
      opacity: 1;
      transition: .5s opacity;
    }

    .prev, .next {
      font-size: 5em;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      cursor: pointer;
      z-index: 1000000;
      opacity: 0;
      transition: .5s opacity;
      user-select: none;
    }

    .prev {
      left: 0;
    }

    .next {
      right: 0;
    }

    .disable {
      color: grey;
    }

    .active {
      color: white;
    }

    .slide {
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: .5s all;
    }

    .activeNextSlide{
      animation: .5s show-model linear;
    }
  }

  @keyframes gra {
    0% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 0%, $light-grey 100%);
    }
    10% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 10%, $light-grey 100%);
    }
    20% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 20%, $light-grey 100%);
    }
    30% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 30%, $light-grey 100%);
    }
    40% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 40%, $light-grey 100%);
    }
    50% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 50%, $light-grey 100%);
    }
    60% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 60%, $light-grey 100%);
    }
    70% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 70%, $light-grey 100%);
    }
    80% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 80%, $light-grey 100%);
    }
    90% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 90%, $light-grey 100%);
    }
    100% {
      background: linear-gradient(90deg, $light-grey 0%, rgba(255, 255, 255, 1) 100%, $light-grey 100%);
    }
  }

  @keyframes show-model {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }











